@import "tailwindcss";

/* @tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    section {
        @apply py-[75px];
        @apply py-[10px];
    }
} */

/* @layer components {
    .container {
        @apply  max-w-[100vw];
    }
} */


.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}